:root {
    --primary-color: #0a1118;
    --primary-color-highlight: #233D54;

    /* Override bootstrap styling */
    --bs-body-bg: #fbf0f6;
    --bs-body-font-family: 'Montserrat', sans-serif;
}

a {
    color: var(--primary-color);
}
a:hover {
    color: var(--primary-color);
}

/* Header */
.header {
    z-index: 2;
}

/* Navigation Bar  */
#navBar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #e0e0e0;
    z-index: 4;
}

.dropdown-nav__closeNavBtn {
    position: absolute;
    top: 20px;
    right: 16px;
    background-color: rgba(255, 255, 255, 0.6);
}

.dropdown-nav__container {
    height: 100vh;
    padding: 1rem;
}

/* Hero section */
.hero {
    position: relative;
    height: 100vh;
    background-color: var(--primary-color);
    overflow: hidden;
}

.hero__video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}